@model CarService
@{
    Func<ServiceType, string> serviceName = value =>
    {
        switch (value)
        {
            case ServiceType.TireChange: return "Abroncs csere";
            case ServiceType.DefectRepair: return "Defekt javítás";
            case ServiceType.ClimateCharge: return "Klímatöltés";
            case ServiceType.SuspensionAdjustment: return "Futómű állítás";
            default: return "?";
        }
    };
}

@if (Model == null)
{
    <div class="contentText">Jelenleg nincs elérhető szerviz.</div>
}
else
{
    <div class="contentHead">@Model.Name</div>
    <div class="contentBody">
        <table width="600">
            <tr>
                <td>
                    <strong>Város:</strong> @Model.City.Name
                </td>
            </tr>
            @if (ViewBag.Images != null && ViewBag.Images.Count > 0)
            {
                <tr>
                    <td>
                        <div class="contentComment">
                            <strong>Képek:</strong><br />
                            @foreach (int id in ViewBag.Images)
                            {
                                <a asp-action="Image" asp-route-imageId="@id" asp-route-large="true" target="_blank">
                                    <img src="@Url.Action("Image", new { imageId = id })" class="contentImage" />
                                </a>
                            }
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
    <table width="600">
        @foreach (Service service in Model.Services)
        {
            <tr>
                <td>
                    <div class="contentComment">
                        <strong>
                            @serviceName(service.Type)
                        </strong> @service.Description
                    </div>
                </td>
            </tr>
        }
    </table>
}